<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>首页</title>
	<style type="text/css">
		td{
			text-align: center;
			padding: 5px;
		}
	</style>
	<script type="text/javascript">
		function recent(d) {
			var now=new Date();
			now.setHours(0);
			now.setMinutes(0);
			now.setSeconds(0);
			now.setMilliseconds(0);
			var time=now.getTime()-d*24*60*60*1000;
			window.location.href="?beg="+time;
		}
	</script>
</head>
<body>
	<div>节点数:{{len $.nodes}}&nbsp;任务数:{{len $.data}}&nbsp;</div>
	<div>
		<a href="javascript:recent(0);">今天</a>&nbsp;
		<a href="javascript:recent(7);">最近一周</a>&nbsp;
		<a href="javascript:recent(30);">最近一周</a>&nbsp;
	</div>
	<div>
	<table style="font-size:13px" border="1" bordercolor="gray" cellpadding="0" cellspacing="0">
		<tr>
			<td rowspan="2">任务/节点</td>
			{{range $.nodes}}
			<td colspan="6"><a href="node.html?nid={{.Id}}">{{.Alias}}</a></td>
			{{end}}
			<td rowspan="2">uri</td>
		</tr>
		<tr>
			{{range $.nodes}}
			<!---->
			<td>成功</td>
			<td>失败</td>
			<td>重连</td>
			<td>中断</td>
			<td>平均</td>
			<td>最大</td>
			{{end}}
		</tr>
		{{range $key,$val:=$.data}}
		<tr>
			<td><a href="task.html?uri={{$key}}&beg={{$.beg}}">{{strval $.alias $key }}</a></td>
			{{range $.nodes}}
			<!---->
			<td>{{strvalp $val .Id "test" "suc" }}</td>
			<td>{{strvalp $val .Id "test" "err" }}</td>
			<td>{{strvalp $val .Id "fail" "err" }}</td>
			<td>{{strvalp $val .Id "close" "err" }}</td>
			<td>{{strvalp $val .Id "test" "avg" }}</td>
			<td>{{strvalp $val .Id "test" "max" }}</td>
			{{end}}
			<td style="text-align:left;">{{$key}}</td>
		</tr>
		{{end}}
	</table>
	</div>
</body>

</html>